# This is a basic workflow to help you get started with Actions

name: regression-tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master", "for-shop", "test-repeatability" ]
  pull_request:
    branches: [ "master", "for-shop" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lisp:
          - sbcl
          - ccl
          # - allegro
          # installation of quicklisp fails on Allegro for some reason. Have to fix this later.
    container:
      image: clfoundation/${{ matrix.lisp }}:latest
    env:
      I_AGREE_TO_ALLEGRO_EXPRESS_LICENSE: yes

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout random-state
        uses: actions/checkout@v3
        
      - name: install quicklisp
        run: install-quicklisp
        
      - name: what is up with Allegro
        run: |
          echo "Github Workspace:"
          ls $GITHUB_WORKSPACE || true
          echo "Quicklisp?"
          ls /github/home
          echo "What's in QL?"
          ls /github/home/quicklisp

      - name: Link the project
        run: |
          ln -s $GITHUB_WORKSPACE /github/home/quicklisp/local-projects
          
      - name: What is going on
        run: |
          echo "What's in local-projects?"
          ls /github/home/quicklisp/local-projects
          echo "What's to be loaded?"
          ls $GITHUB_WORKSPACE

      - name: SBCL
        if: ${{ matrix.lisp == 'sbcl' }}
        run: sbcl  --non-interactive
          --load /github/home/quicklisp/setup.lisp 
          --eval "(asdf:load-asd \"$GITHUB_WORKSPACE/random-state.asd\")" 
          --eval '(ql:quickload "random-state/tests")' 
          --eval '(asdf:test-system "random-state")' --eval '(uiop:quit 0)'
      - name: Allegro
        if: ${{ matrix.lisp == 'allegro' }}
        run: alisp -L /github/home/quicklisp/setup.lisp
          -e "(asdf:load-asd \"$GITHUB_WORKSPACE/random-state.asd\")" 
          -e '(ql:quickload "random-state/tests")'
          -e '(asdf:test-system "random-state")'
          --kill
      - name: Clozure
        if: ${{ matrix.lisp == 'ccl' }}
        run: ccl --batch 
          --load /github/home/quicklisp/setup.lisp 
          --eval "(asdf:load-asd \"$GITHUB_WORKSPACE/random-state.asd\")" 
          --eval '(ql:quickload "random-state/tests")' 
          --eval '(asdf:test-system "random-state")' --eval '(uiop:quit 0)'
        
